@{
    ViewData["Title"] = "Candid | Home";
}


<div class="container">
    <div class="flex-container">
        <div class="left-child flex-child">
            <h1>The Best Way to Get Hired</h1>
            <p>Find the right job for you!</p>
            <a class="home-btn btn btn-primary" asp-action="Login" asp-controller="Account">Login</a>
            <a class="home-btn btn btn-primary" asp-action="Register" asp-controller="Account">Sign Up</a>
        </div>
        <div class="right-child flex-child">
            <img id="homepage-logo" src="/images/logo.png" alt="company-logo">
        </div>
    </div>
</div>